@tailwind base;
@tailwind components;
@tailwind utilities;


.light .hidebtn{ 
    display: none !important;
}
.light .overbox {
    content: "❎";
    width: 21px;
    height: 12px;
    top: 1px;
    position: relative;
    left: 3px;
    background: transparent;
    left: 0;
    margin-right: 5px;
}
span.overbox.tikbox {
    top: 1px;
}
span.overbox.gificon {
    top: 6px;
    left: 4px;
}
.dark .overbox{display: none !important;}